{{range .}}
func Unmarshal{{.Name}}(data []byte) ({{.Name}}, error) {
	var r {{.Name}}
	err := json.Unmarshal(data, &r)
	return r, err
}

func (r *{{.Name}}) Marshal() ([]byte, error) {
	return json.Marshal(r)
}
{{end}}