# Google CloudEvents - Go

This library provides classes of common event types used with Google services.
At this moment the following types are available:

| Package | Struct | Description |
| ------------- | ------------- | ------------- |
{{range .}}| {{.Package}}  | {{.Name}} | {{.Description}} |
{{end}}

## Installation and Usage

**Note**: This library requires Go 1.11+.

To install this package, run

``` sh
go install github.com/googleapis/google-cloudevents-go
```

To use an event class, see the snippet below:

``` go
package main

import (
	pubsub "github.com/googleapis/google-cloudevents-go/cloud/pubsub/v1"
)

func main () {
    e := audit.UnmarshalMessagePublishedEvent(data)
    fmt.Println(e.message)
}
```

## Generation

**Note**: Before generating the package,
[quicktype](https://quicktype.io/), and Go 1.11+.

To generate this package, clone the repository and run

``` sh
chmod +x gen.sh
./gen.sh
```